.outer
{
	border:2px solid #990000;
	padding:1px 10px 15px 10px;
	background:#990000;
	
	-webkit-border-radius: 7px;
	border-radius:7px;
	-moz-border-radius:7px; 
	color:white;
	font-size:20px;
	font-weight:bold;
	font-family:verdana;
	position:relative;
	margin:auto;
}


.inner {
	border:3px solid white;
	padding:15px 25px 15px 15px;
	background:#C8CCCC;
	font-size:13px;
	-webkit-border-radius: 7px;
	border-radius:7px;
	-moz-border-radius:7px; 
	color:#66545B;
	 
}

.clear{
	clear:both;
	}

.link
{
	margin-top:20px;
	padding: 5px; 
}

.chat{
	font-size:13px;
	display:none;
	}
	
.text{
	width:240px;
	padding:5px;	
}

.submit{
	padding:5px 14px;	
	font-weight:bold;
}
#form {
	padding-top:25px;
}
.container{
	padding:15px; 
	background:#C8CCCC;
	
} 	 	
